body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.saveButton, .cancelButton {

  margin: 0 10px 10px 0;

}

.list-inline {
  display: inline;
}

/* .toggleForm {
  visibility: hidden;
} */